{:aliases {:cider/nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.58.0"}, ; CIDER
                                                                                 ; middleware
                                      refactor-nrepl/refactor-nrepl
                                        {:mvn/version "3.11.0"}}}, ; clj-refactor
                                                                   ; middleware
           :dev {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}},
                 :extra-paths ["dev" "test"],
                 :main-opts ["-m" "user"]},
           :run-m {:main-opts ["-m" "limabean.harvest.main"]},
           :run-x {:exec-args {:name "Clojure"},
                   :exec-fn greet,
                   :ns-default limabean.harvest.main},
           :build {:deps {io.github.clojure/tools.build {:git/sha "fe6b140",
                                                         :git/tag "v0.9.2"}},
                   :ns-default build},
           :test {:exec-fn cognitect.test-runner.api/test,
                  :extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/sha "dfb30dd", :git/tag "v0.5.1"},
                               org.clojure/test.check {:mvn/version "1.1.1"}},
                  :extra-paths ["test"],
                  :main-opts ["-m" "cognitect.test-runner"]},
           :neil {:project {:name limabean-harvest/limabean-harvest}}},
 :deps {cheshire/cheshire {:mvn/version "6.1.0"},
        cli-matic/cli-matic {:mvn/version "0.5.4"},
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"},
        com.fasterxml.jackson.datatype/jackson-datatype-jsr310 {:mvn/version
                                                                  "2.18.4"},
        com.taoensso/telemere {:mvn/version "1.2.1"},
        expound/expound {:mvn/version "0.9.0"},
        failjure/failjure {:mvn/version "2.3.0"},
        io.forward/yaml {:mvn/version "1.0.11"},
        org.clojure/clojure {:mvn/version "1.11.1"},
        org.clojure/data.csv {:mvn/version "1.1.0"}},
 :paths ["src" "resources"]}
