{:classifiers [{:hdr {:cur "GBP", :dialect "first-direct.csv"},
                :id :first-direct-csv,
                :ingester ["hull-csv" :path],
                :selector {:path-glob "**first-direct*/*.csv"}}],
 :realizers
   [{:bal {:accid {:key :inferred-accid, :src :hdr},
           :cur {:key :cur, :src :hdr},
           :date {:fmt "dd/MM/yyyy", :key :date, :src :txn, :type :date},
           :units {:key :balance, :src :txn, :type :decimal}},
     :bal-fns [limabean.harvest.api/inc-date],
     :id :first-direct-csv,
     :selector {:dialect "first-direct.csv"},
     :txn {:accid {:key :inferred-accid, :src :hdr},
           :cur {:key :cur, :src :hdr},
           :date {:fmt "dd/MM/yyyy", :key :date, :src :txn, :type :date},
           :description {:key :description, :src :txn},
           :units {:key :amount, :src :txn, :type :decimal}},
     :txn-fns [limabean.harvest.api.contrib.first-direct-csv/payee-narration]}]}
