{:classifiers [{:ingester ["hull-ofx" :path],
                :name "Generic OFX",
                :selector {:path-glob "**.ofx"}}
               {:hdr {:cur "GBP", :dialect "first-direct.csv"},
                :hdr-fn lima.harvest.api/infer-accid-from-path,
                :ingester ["hull-csv" :path],
                :name "first direct CSV",
                :selector {:path-glob "**/first-direct/**.csv"}}],
 :realizers
   [{:bal {:accid {:key :acctid, :src :hdr},
           :cur {:key :curdef, :src :hdr},
           :date {:fmt "yyyyMMdd", :key :dtasof, :src :hdr, :type :date},
           :units {:key :balamt, :src :hdr, :type :decimal}},
     :name "Generic OFX1",
     :selector {:dialect "ofx1"},
     :txn {:accid {:key :acctid, :src :hdr},
           :cur {:key :curdef, :src :hdr},
           :date {:fmt "yyyyMMdd", :key :dtposted, :src :txn, :type :date},
           :narration {:key :memo, :src :txn},
           :payee {:key :name, :src :txn},
           :txnid [{:key :acctid, :src :hdr} "." {:key :fitid, :src :hdr}],
           :units {:key :trnamt, :src :txn, :type :decimal}}}
    {:bal {:accid {:key :accid, :src :hdr},
           :cur {:key :cur, :src :hdr},
           :date {:fmt "dd/MM/yyyy", :key :date, :src :txn, :type :date},
           :units {:key :balance, :src :txn, :type :decimal}},
     :name "first direct CSV",
     :selector {:dialect "first-direct.csv"},
     :txn {:accid {:key :accid, :src :hdr},
           :cur {:key :cur, :src :hdr},
           :date {:fmt "dd/MM/yyyy", :key :date, :src :txn, :type :date},
           :description {:key :description, :src :hdr},
           :units {:key :amount, :src :txn, :type :decimal}},
     :txn-fn lima.harvest.api.contrib.first-direct/payee-narration}]}
