{:classifiers [{:hdr {:dialect "kiwibank.ofx1"},
                :ingester ["hull-ofx" :path],
                :name "Kiwibank OFX1",
                :selector {:path-glob "**kiwibank/*.ofx"}}
               {:ingester ["hull-ofx" :path],
                :name "Generic OFX",
                :selector {:path-glob "**.ofx"}}
               {:hdr {:cur "GBP", :dialect "first-direct.csv"},
                :ingester ["hull-csv" :path],
                :name "first direct CSV",
                :selector {:path-glob "**/first-direct/**.csv"}}],
 :pairing {:window 3},
 :realizers
   [{;; TODO Kiwibank OFX1 should inherit from Generic OFX1, somehow
     :bal {:accid {:key :acctid, :src :hdr},
           :cur {:key :curdef, :src :hdr},
           :date {:fmt "yyyyMMdd", :key :dtasof, :src :hdr, :type :date},
           :units {:key :balamt, :src :hdr, :type :decimal}},
     :bal-fns [limabean.harvest.api/inc-date],
     :name "Kiwibank OFX1",
     :selector {:dialect "kiwibank.ofx1"},
     :txn {:accid {:key :acctid, :src :hdr},
           :cur {:key :curdef, :src :hdr},
           :date {:fmt "yyyyMMdd", :key :dtposted, :src :txn, :type :date},
           :narration {:key :memo, :src :txn},
           :payee {:key :name, :src :txn},
           :txnid [{:key :acctid, :src :hdr} "." {:key :fitid, :src :txn}],
           :units {:key :trnamt, :src :txn, :type :decimal}},
     :txn-fns
       [limabean.harvest.api.contrib.kiwibank-ofx1/clean-payee-narration]}
    {:bal {:accid {:key :acctid, :src :hdr},
           :cur {:key :curdef, :src :hdr},
           :date {:fmt "yyyyMMdd", :key :dtasof, :src :hdr, :type :date},
           :units {:key :balamt, :src :hdr, :type :decimal}},
     :bal-fns [limabean.harvest.api/inc-date],
     :name "Generic OFX1",
     :selector {:dialect "ofx1"},
     :txn {:accid {:key :acctid, :src :hdr},
           :cur {:key :curdef, :src :hdr},
           :date {:fmt "yyyyMMdd", :key :dtposted, :src :txn, :type :date},
           :narration {:key :memo, :src :txn},
           :payee {:key :name, :src :txn},
           :txnid [{:key :acctid, :src :hdr} "." {:key :fitid, :src :txn}],
           :units {:key :trnamt, :src :txn, :type :decimal}}}
    {:bal {:accid {:key :inferred-accid, :src :hdr},
           :cur {:key :cur, :src :hdr},
           :date {:fmt "dd/MM/yyyy", :key :date, :src :txn, :type :date},
           :units {:key :balance, :src :txn, :type :decimal}},
     :bal-fns [limabean.harvest.api/inc-date],
     :name "first direct CSV",
     :selector {:dialect "first-direct.csv"},
     :txn {:accid {:key :inferred-accid, :src :hdr},
           :cur {:key :cur, :src :hdr},
           :date {:fmt "dd/MM/yyyy", :key :date, :src :txn, :type :date},
           :description {:key :description, :src :txn},
           :units {:key :amount, :src :txn, :type :decimal}},
     :txn-fns [limabean.harvest.api.contrib.first-direct/payee-narration]}]}
