{:classifiers [{:ingester ["hull-ofx" :path], :path-glob "**.ofx"}
               {:hdr {:cur "GBP", :dialect "firstdirect"},
                :ingester ["hull-csv" :path],
                :path-glob "**/firstdirect/**.csv"}],
 :mappers
   [{{"dialect" "ofx1"} {:bal {:accid [:hdr "acctid"],
                               :cur [:hdr "curdef"],
                               :date [:hdr "dtasof" "yyyyMMdd"],
                               :units [:hdr "balamt"]},
                         :txn {:accid [:hdr "acctid"],
                               :cur [:hdr "curdef"],
                               :date [:txn "dtposted" "yyyyMMdd"],
                               :narration [:txn "memo"],
                               :payee [:txn "name"],
                               :txnid [[:hdr "acctid"] [:txn "fitid"]],
                               :units [:txn "trnamt"]}}}
    {{"dialect" "firstdirect"}
       {:bal {:accid [:hdr "path" includes?],
              :cur [:hdr "cur"],
              :date [:txn "date" "dd/MM/yyyy"],
              :units [:txn "balance"]},
        :txn {:accid [:hdr "path" includes?],
              :cur [:hdr "cur"],
              :date [:txn "date" "dd/MM/yyyy"],
              :units [:txn "amount"]},
        :txn-fn lima.contrib.import.firstdirect/payee-narration}}]}
